# .dockerignore
.git
.gitignore
.env
__pycache__
*.pyc
*.pyo
*.pyd

# Ignora cartelle dati e log (fondamentale per evitare errori permessi)
data/
logs/
config/credentials/
.pytest_cache
htmlcov
.coverage