# Ambiente virtuale Python
venv/
.env/
.env.local
.env.*
config/credentials/
# Allow the example file
!.env.example
__pycache__/
*.pyc

# File credenziali GCP
config/credentials/
docs/service_account.json
data/
logs/

# Dati locali
*.csv

# Log
*.log

# Config personali
.DS_Store
.idea/
.vscode/

logs/*
!logs/.gitkeep
data/*
